## Description 
Demo for data and analysis

In [2]:
# The code was removed by Watson Studio for sharing.

,Shipping Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
1038,6579-1,2017-02-03 00:00:00,2017,Alex Russell,"76 Lindsay Street, Perth",Melbourne,VIC,Home Office,E1232,High,...,1.59,2.61,1.02,38,99.18,0.04,3.9672,95.2128,0.5,95.7128
1039,6581-1,2017-02-04 00:00:00,2017,Roland Black,"438 Victoria Avenue,Chatswood",Sydney,NSW,Small Business,E1207,High,...,13.64,20.98,7.34,41,860.18,0.05,43.009,817.171,1.49,818.661
1040,6582-1,2017-02-05 00:00:00,2017,Art Foster,"14 Money Street, Perth",Sydney,NSW,Home Office,E1180,Medium,...,13.64,20.98,7.34,2,41.96,0.01,0.4196,41.5404,1.49,43.0304
1041,6584-1,2017-02-07 00:00:00,2017,Maribeth Yedwab,"240-242 Johnston Street,Fitzroy",Melbourne,VIC,Home Office,E1232,Low,...,6.39,19.98,13.59,31,619.38,0,0,619.38,4,623.38
1042,6586-1,2017-02-07 00:00:00,2017,Theresa Swint,"240-242 Johnston Street,Fitzroy",Melbourne,VIC,Consumer,E1232,Medium,...,0.93,1.48,0.55,10,14.8,0.1,1.48,13.32,0.7,14.02